<div class="mb-1">
    <ng-container *ngIf="result.ids.length <= 1; else draw" class="v-flex-center">

        <span class="cont">
            <mat-icon>emoji_events</mat-icon>
            <strong>{{getUserOfUserID(result.ids[0]).name}}</strong>
        </span>

        <span *ngIf="dice === 'dice9'" class="cont h3">
            <span>+{{countPlayerDice(9, result.ids[0])}}</span> 
            <img src="../../../../assets/icons/nugget.png" height="35px" alt="nuggets" class="light-bg">
        </span>
        
        <span *ngIf="dice === 'dice10'" class="cont h3">
            <span>+{{lobby.game.dollar}}</span> 
            <img src="../../../../assets/icons/money.png" height="35px" alt="money" class="light-bg">
        </span>
        
        <span *ngIf="dice === 'diceStore'" class="cont">
            <span>
                can pick a 
                <img src="../../../../assets/icons/store.png" height="25px" alt="nuggets" class="light-bg">
                card
            </span> 
        </span>
        
        <span *ngIf="dice === 'diceSaloon'" class="cont">
            <span>can steal a card</span> 
        </span>
        
        <span *ngIf="dice === 'diceSherif'" class="cont">
            <span>{{getUserOfUserID(result.ids[0]).name}} is now the sherif!</span> 
        </span>

        
    </ng-container>
    <div *ngIf="result.isSherifResolve" class="bg-danger bg-gradient sherif-pick">
        <div class="cont m-1 px-1">
            <mat-icon>priority_high</mat-icon>
            <span>sherif&nbsp;pick</span>
        </div>
    </div>
    <ng-template #draw>
        <div class="v-flex">
            <strong class="text-center">
                Draw!
            </strong>

            <ng-container *ngIf="lobbyService.getSherif(lobby).id === lobbyService.getPlayer(lobby).userId; else notSherif">
                <span *ngFor="let playerId of result.ids" class="mb-1" [ngClass]="selectedPlayerId === playerId ? 'selected' : 'unSelected'">
                    <button mat-stroked-button  (click)="selectPlayerId(playerId)" style="width: 100%; ">
                        {{getUserOfUserID(playerId).name}}
                    </button>
                </span>
                <button mat-raised-button color="accent" [disabled]="!selectedPlayerId" (click)="validateWinnerChoice()"><mat-icon>check</mat-icon> Validate</button>
            </ng-container>
            <ng-template #notSherif>
                <button mat-stroked-button [disabled]="true" *ngFor="let playerId of result.ids" class="mb-1">
                    {{getUserOfUserID(playerId).name}}
                </button>
                <strong class="text-center">
                    Sherif choosing
                </strong>
            </ng-template>

            
        </div>
    </ng-template>
    
</div>
