<mat-card class="example-card mx-3 my-5" *ngIf="lobby; else notLoaded">
    <mat-card-header>
        <mat-card-title (click)="copyCodeToClipboard(lobby.code)">Code: {{lobby.code}} <mat-icon matTooltip="copy code to clipboard" (click)="copyCodeToClipboard(lobby.code)">content_copy</mat-icon></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <h3>Users in lobby:</h3>
            <div *ngFor="let user of lobby.users">
                {{user.name}}, {{user.id}} <span *ngIf="isOwner(user)">(Owner)</span> <span *ngIf="isYou(user)">(You)</span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="!isOwner(authenticationService.getIdFromToken())" mat-raised-button (click)="quitLobby()" color="warn">Quit lobby</button>
        <button *ngIf="isOwner(authenticationService.getIdFromToken())" [matTooltip]="lobby.users.length > 1 ? 'You can destroy the lobby only if you are the last player in it' : null" [disabled]="lobby.users.length > 1" mat-raised-button (click)="destroyLobby()" color="warn">Destroy lobby</button>
        <span class="ready-block mx-1">
            <button mat-raised-button (click)="readyStatus()">{{ isReady ? 'Unready' : 'Ready up'}}&nbsp;({{getCountReady()}}/{{lobby.readyStatus.length}})</button>
            
        </span>
    </mat-card-actions>
</mat-card>

<ng-template #notLoaded>
    Loading...
</ng-template>