<div class="container justify-content-center">
    <mat-card class="example-card mx-3 my-5">
      <mat-card-content>
        <h1>Play Dice Town Online</h1>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="createGame()">Create a game</button>
        <div>
          <h3>Join a lobby</h3>
          
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Entrer a lobby code</mat-label>
            <input matInput placeholder="Ex. 21a0e546" [(ngModel)]="code" maxlength="8" [formControl]="joinLobbyControl">
            <mat-error *ngIf="joinLobbyControl.hasError('required')">
              Code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" (click)="joinLobby()" [disabled]="!(code && code.length === 8)">Rejoindre</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  