<div class="lobby-container">

    <div class="sidebar">
        <app-lobby-info *ngIf="lobby" [lobby]="lobby" (lobbyRefresh)="loadLobby()"></app-lobby-info>
        
        <app-chat *ngIf="lobby" [lobby]="lobby"></app-chat>
    </div>

    <div class="game">
        <ng-container *ngIf="!lobby; else lobbyLoaded">
            <mat-spinner [mode]="indeterminate"></mat-spinner>
        </ng-container>
        <ng-template #lobbyLoaded>
            <div *ngIf="!lobby.isGameStarted; else gameStarted" class="waiting-msg">
                <p>
                    Waiting for everybody to ready up...
                </p>
                <p>
                    <mat-chip-list class="mat-chip-list-stacked" aria-label="User readiness">
                        <mat-chip *ngFor="let user of lobby.users" class="ready-chip">
                            {{user.name}}&nbsp;is&nbsp;
                            <span [ngClass]="(lobbyService.computeIsReady(lobby, user)) ? 'ready' : 'unready'">
                                {{lobbyService.computeIsReady(lobby, user) ? 'Ready' : 'Not Ready'}}
                            </span>
                          
                        </mat-chip>
                    </mat-chip-list>
                </p>
                <mat-spinner></mat-spinner>
            </div>
            <ng-template #gameStarted>

                Game started

            </ng-template>
        </ng-template>
    </div>
</div>
  