.lobby-container {
    height: 100%;
    display: flex;
    
    .sidebar{
        width: 300px;
        background-color: #808080;
    }

    .game{
    }
}

.ready-block{
    // padding: 2px;
    // height: 100%;
    // border: black;
    // border-style: solid;
    // border-width: 1px;
}