.game-container{

    height: 90%;

    border-bottom: black;
    border-bottom-style: outset;
    border-bottom-width: 4px;

    .board {
        display: flex;
        mat-card {
            flex: 1;
            margin: 10px;
        }
    
        
    }

    .hand {
        display: flex;
        mat-card {
            //width: 100px;
            margin: 10px;
        }
    }

}

.property {
    width: 40px;
    height: 40px;
    background-color: lightcyan;
    margin: 1;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.dices-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    app-dice {
        margin-right: 10px;
    }

    .square-btn {
        height: 50px;
        border-radius: 10%;
    }
}

