.game-container{

    height: 90%;

    border-bottom: black;
    border-bottom-style: outset;
    border-bottom-width: 4px;

    .board {
        display: flex;
        mat-card {
            flex: 1;
            margin: 10px;
        }
    
        
    }

    .player-panel{
        flex: 1;

        .player-item {
            background-color: rgba($color: #ffffff, $alpha: 0.9);
            border-radius: 10px;

            display: flex;
            align-items: center;
            font-size: 20px;
        }
    }

    .hand {
        display: flex;
        mat-card {
            flex: 1;
            //max-width: 200px;
            //width: 100px;
            margin: 10px;
        }
    }

}

.property {
    width: 40px;
    height: 40px;
    background-color: lightcyan;
    margin: 1;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.dices-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    app-dice {
        margin-right: 10px;
    }

    .square-btn {
        height: 50px;
        border-radius: 10%;
    }
}

.alert {
    color: red;
}

.light-bg {
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    border-radius: 10px;
}

.font-size-header {
    font-size: 40px;
    font-weight: 300;
}

.dice-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}