<div class="v-flex game-container">
    <div>
        <h1 class="m-1">Game board:</h1>
        <h3>Status: {{getGameStatus()}}</h3>
        <div class="board">
            <mat-card>
                
                <img src="../../../../assets/icons/nugget.png" height="40px" alt="nuggets">
                
                <mat-card-content>
                    {{lobby.game.nuggets}}
                </mat-card-content>
            </mat-card>
            
            <mat-card>
                
                <img src="../../../../assets/icons/money.png" height="40px" alt="dollars">
                
                <mat-card-content>
                    <p>
                        At stake: <strong>{{lobby.game.dollar}}</strong> $
                    </p>
                    <p>
                        Upcoming: <strong>{{lobby.game.income}}</strong> $
                    </p>
                </mat-card-content>
            </mat-card>
            
            <mat-card>
                <p>General storms</p>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            
            <mat-card>
                <p>Saloon</p>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <mat-card>
                
                <img src="../../../../assets/icons/sherif-start-icon.png" height="40px" alt="dollars">
                
                <mat-card-content>
                    {{ lobby.game.sherifUserid ? getSherif().name : "No one currently"}} is the sherif
                </mat-card-content>
            </mat-card>
            <mat-card>
                <p>Property</p>
                <mat-card-content>
                    <div>
                        remaining cards: {{lobby.game.property.length - 3}}
                    </div>
                    <br>
                    <span *ngFor="let property of getFirst3properties()" class="property">
                        {{property.value}}
                    </span>
                </mat-card-content>
            </mat-card>
            
            <mat-card>
                <p>Bad luck :'(</p>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
    
    <div class="dices">

    </div>
    <div class="your-game">
        <h2>Your hand:</h2>
        <div>
            <div *ngIf="getPlayer() as player">
                <div class="hand">
                    <mat-card>
                        <img src="../../../../assets/icons/nugget.png" height="40px" alt="nuggets">
                        <mat-card-content>
                            {{player.nuggets}}
                        </mat-card-content>
                    </mat-card>
                    
                    <mat-card>
                        <img src="../../../../assets/icons/money.png" height="40px" alt="dollars">
                        <mat-card-content>
                            {{player.dollar}}
                        </mat-card-content>
                    </mat-card>
                    
                    <mat-card *ngIf="player.generalStorms.length">
                        <p>General storms</p>
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                    

                    <mat-card *ngIf="getSherif() && getSherif().id === player.userId">
                        <img src="../../../../assets/icons/sherif-start-icon.png" height="40px" alt="dollars">
                        <mat-card-content>
                            You are the sherif!
                        </mat-card-content>
                    </mat-card>

                    <mat-card *ngIf="player.property.length">
                        <p>Properties</p>
                        <mat-card-content>
                            <span *ngFor="let property of player.property" class="property">
                                {{property.value}}
                            </span>
                        </mat-card-content>
                    </mat-card>
                    
                    <mat-card *ngIf="player.badLuck.length">
                        <p>Bad luck :'(</p>
                        <mat-card-content>
                            <span *ngFor="let property of player.badLuck" class="property">
                                {{property.text}}
                            </span>
                        </mat-card-content>
                    </mat-card>

                    <mat-card *ngIf="lobby.game.status === 'DICE_ROLLING'">
                        <div>
                            <h2 class="title">
                                Dices
                            </h2>
                            <span *ngIf="lobby.game.waitingFor.length">
                                Waiting for: <strong *ngFor="let name of getNameWaitingFor()">{{name}}&nbsp;</strong>
                            </span>
                        </div>
                        <mat-card-content>


                            <div *ngIf="player.dices.length !== 5">
                                <button mat-button [disabled]="!player.canThrowDices || player.dices.length === 5" (click)="rollDices()">Roll dices</button>
                                <button mat-button [disabled]="player.canThrowDices || player.dices.length === 5 || isDiceChosen || isCostError" (click)="validateDiceChoice()">Choose dice</button>
                            </div>

                            <div *ngIf="rollingDices">
                                <mat-spinner></mat-spinner>
                            </div>
                            <div *ngIf="newDices.length && !rollingDices && player.dices.length < 5">
                                <h4>Rolled dices:  
                                    <ng-container *ngIf="isCostError; else validCost">
                                        <span class="alert">Not enough money: {{player.dollar}}$ - {{costs}}$ = {{player.dollar-costs}}$</span>
                                    </ng-container>
                                    <ng-template #validCost>
                                        {{costs > 0 ? '-'+costs+'$' : 'FREE'}}
                                    </ng-template>
                                </h4>
                                <div class="dices-container" >
                                    <span [ngClass]="!selectedDice.length ? 'selected' : 'unSelected'">
                                        <button mat-button (click)="selectDice(-1)" class="square-btn">None</button>
                                    </span>
                                    <app-dice *ngFor="let dice of newDices; let i = index" [isSelected]="isDiceSelected(i)" [number]="dice.value" (click)="selectDice(i)"></app-dice>
                                </div>
                            </div>
                            <h4>Saved dices:</h4>
                            <div class="dices-container" *ngIf="player.dices">
                                <app-dice *ngFor="let dice of player.dices; let i = index" [isSelected]="false" [number]="dice.value"></app-dice>
                            </div>


                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
